.container {
  max-width: 104rem;
}

.sidebar__container {
  position: absolute;
  width: 20rem;
  height: 59rem;
  left: 0rem;
  top: 0rem;

  background: #ffffff;
  box-shadow: 0rem 0rem 2.5rem rgba(0, 0, 0, 0.15);
  border-radius: 0rem 1rem 1rem 0rem;
}

.main__content {
  position: absolute;
  width: 63.125rem;
  height: 59rem;
  left: 21.5rem;
  top: 0rem;

  background: #ffffff;
}
