<div class="user__area">
  <div class="avatar"></div>
  <div class="user__details">
    <div class="user__name">Dibyanshu Mohanty</div>
    <span class="user__email"> dibyansu@flowace.in </span>
  </div>
  <div>
    <img src="../../assets/images/Vector.png" alt="vector" />
  </div>
</div>

<div class="date__area">
  <div>
    <img src="../../assets/images/arrow-left.png" alt="" />
  </div>
  <div class="text__area">November, 2021</div>
  <div>
    <img src="../../assets/images/arrow-right.png" alt="" />
  </div>
</div>

<div class="heading_entry">
  <h6>Entries</h6>
  <div class="checkbox__grp">
    <label class="classified">
      <input
        type="checkbox"
        (click)="filterBYentries('blue')"
        id="blue"
        [checked]="selectedEntry.includes('blue')"
      />
      <span></span>
      <img
        src="../../assets/images/note-2.png"
        alt="classified"
        class="entries__ml checkImg"
      />
      <span class="entry__left">Classified Entries</span>
    </label>
    <label class="unclassified">
      <input
        type="checkbox"
        (click)="filterBYentries('yellow')"
        id="yellow"
        [checked]="selectedEntry.includes('yellow')"
      />
      <span></span>
      <img
        src="../../assets/images/union.png"
        alt="classified"
        class="entries__ml checkImg"
      />
      <span class="entry__left">Unclassified Entries</span>
    </label>
  </div>
</div>

<div class="schedule">
  <h6>Schedule</h6>
  <div class="schedule__grp">
    <div class="extraWork">
      <input type="checkbox" checked />
      <span class="schedule__ml">Extra Working Day</span>
    </div>
    <label class="weeklyOff">
      <input
        type="checkbox"
        (click)="filterByWeeks('Wo')"
        id="Wo"
        [checked]="selectedWorking.includes('Wo')"
      />
      <span class="schedule__ml">Weekly Off</span>
    </label>
    <label class="holiday">
      <input
        type="checkbox"
        (click)="filterByLeaves('holiday')"
        id="holiday"
        [checked]="selectedLeave.includes('holiday')"
      />
      <span class="schedule__ml">Holiday</span>
    </label>
    <label class="leave">
      <input
        type="checkbox"
        (click)="filterByLeaves('leave')"
        id="leave"
        [checked]="selectedLeave.includes('leave')"
      />
      <span class="schedule__ml">Leaves</span>
    </label>
  </div>
</div>

<div class="achievements">
  <h6>Achievements</h6>
  <div class="entries achivement__section">
    <div>
      <img
        src="../../assets/images/Fire.png"
        alt="bluevector"
        class="verified"
      />
      <span class="entries__ml">Longest Streak</span>
    </div>
    <div>
      <span class="timing">15 days</span>
    </div>
  </div>
  <div class="entries unclassified__entries achivement__section">
    <div>
      <img
        src="../../assets/images/hourglass.png"
        alt="bluevector"
        class="verified"
      />
      <span class="entries__ml">Classified Hours</span>
    </div>
    <div>
      <span class="timing">145 hrs</span>
    </div>
  </div>
</div>
